$font-bold: 'CronosPro Bold';
$font-regular: 'CronosPro Regular';

$lightblue-color: #5ecaf8;
$darkblue-color: #0c314c;
$white: #FFFFFF;
$black: #000000;
$red-error: #CB5E5E;
$lightgray-color: #e1e1e1;